# OSS-shared (included in public repo)
data/
.venv/
__pycache__/
*.pyc
**/*.backup
.shenas/
packages/
dist/
node_modules/
plugins/dashboards/*/shenas_dashboards/*/static/
plugins/frontends/*/shenas_frontends/*/static/
plugins/dashboards/*/src/*.d.ts
!plugins/dashboards/*/src/shenas-frontends.d.ts
!plugins/dashboards/*/src/shenas-components.d.ts
app/vendor/dist/
htmlcov/
.coverage
coverage/
coverage.json
.cache
*.egg-info/
.vite/

